.text{
    color: white;
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 5px;
    position: relative;
    top: 25%;
    cursor: default;
}
.disc{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 5px;
    position: relative;
    top: 28%;
    cursor: default;
}
.disc1{
    color: white;
    text-align: center;
    font-size: 15px;
    text-shadow: 0 0 5px;
    position: relative;
    top: 38%;
    cursor: default;
}
.title{
    
    cursor: default;
    color: white;
    font-size: 50px;
    font-weight: 20px;
    position: relative;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-5%);
    text-align: center;
    text-shadow: 0 0 5px;
}
