
.banner2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(front_sjm.png);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.about{
    color: white;
    position: relative;
    top: 50px;
    text-shadow: 2px 2px black;
    width: 80%;
    left: 10%;
    text-align: center;
}
*{
    background-color: transparent;
}