
.banner2{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(front_sjm.png);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner3{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(saint_3.jpg);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.banner4{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(saint_4.jpg);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner5{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(saint_5.jpg);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.banner6{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(saint_6.jpg);
    height: 75vh;
    background-position: center();
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.about{
    color: white;
    position: relative;
    top: 20%;
    text-shadow: 2px 2px black;
    width: 90%;
    left: 5%;
    text-align: center;
}

.title{
    
    cursor: default;
    color: white;
    font-size: 50px;
    font-weight: 20px;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-5%);
    text-align: center;
    text-shadow: 0 0 5px;
}
.disc1{
    color: white;
    text-align: center;
    font-size: 15px;
    text-shadow: 0 0 5px;
    position: relative;
    top: 38%;
    cursor: default;
}
